In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

% load file names

In [12]:
import os
import pandas as pd

Emil = False

if Emil:
    base_path = r"C:\Users\ASUS\Documents\11. sem - kand\EV data"
else:
    base_path = r"C:\Users\Gustav\Documents\Thesis\data\Frekvensdata"

In [13]:
import os

# Specify the folder path
folder_path = base_path

# Get a list of all files in the folder
file_names = os.listdir(folder_path)

In [32]:
import os
import pandas as pd

# Create a dictionary to store the loaded dataframes
dataframes = {}

# Create a list to store the dataframe names
dataframe_names = []

# Load the CSV files and store them in the dictionary
for file_name in file_names:
    file_path = os.path.join(folder_path, file_name)
    dataframe_name = file_name  # Remove the ".csv" extension and the first 3 characters, so only the CD numer is there
    dataframes[dataframe_name] = pd.read_csv(file_path, parse_dates=['Time'])
    dataframe_names.append(dataframe_name)

In [30]:
df = dataframes[dataframe_names[1]]

start_time = '2022-03-24 00:00:00.000'
end_time ='2022-03-24 00:00:01.000'



# Filter the DataFrame to include only rows within the specified timestamp range
filtered_df = df[(df['Time'] >= start_time) & (df['Time'] <= end_time)]
filtered_df

                       Time     Value
0   2022-03-24 00:00:00.000  50.03944
1   2022-03-24 00:00:00.100  50.03922
2   2022-03-24 00:00:00.200  50.03865
3   2022-03-24 00:00:00.300  50.03873
4   2022-03-24 00:00:00.400  50.04094
5   2022-03-24 00:00:00.500  50.04004
6   2022-03-24 00:00:00.600  50.03907
7   2022-03-24 00:00:00.700  50.04139
8   2022-03-24 00:00:00.800  50.04080
9   2022-03-24 00:00:00.900  50.04006
10  2022-03-24 00:00:01.000  50.04086

In [78]:
# Load your CSV file
df = dataframes[dataframe_names[0]]

# Define your start and end times
current_time = pd.Timestamp('2022-03-23 00:01:00.000')

A_d = [0 for _ in range(60 * 24)]
A_up = [0 for _ in range(60 * 24)]

j = 0
end_j = false 
for t in range(60):
    for m in range(m):
        m_ts = 0 # number of times stamps in the given minute
        while current_time > df['Time'][j] || end_j:
            m_ts = m_ts + 1 
            f_d = -50 + df['Value'][j]  # get the difference from normel freq
   
            # compute the down regualtion activation 
            if f_d < -0.1:
                ac = f_d/(-0.5)
                if ac > 1:
                    ac = 1         
                A_d[m + (t-1)*60 ] = A_d[m + (t-1)*60 ]+ac
            
            # compute the up regualtion activation 
            if f_d > 0.1:
                ac = f_d/(0.5)
                if ac > 1:
                    ac = 1         
                A_u[m + (t-1)*60 ] = A_u[m + (t-1)*60 ]+ac
            
            
            
            j = j +1
            if j == len(df):
                end_j = true 
            
            
        A_d[m + (t-1)*60 ] = A_d[m + (t-1)*60 ]/m_ts # take the average activation 
        # Increment the timestamp by one minute
        start_time += pd.Timedelta(minutes=1)

IndentationError: expected an indented block (Temp/ipykernel_43384/2151275139.py, line 14)

In [71]:
pd.Timestamp('2022-03-24 00:01:00.100') > pd.Timestamp('2022-03-24 00:01:00.000')

True

In [72]:
start_time = pd.Timestamp('2022-03-24 00:01:00.000')



print(start_time)

2022-03-24 00:02:00

In [84]:
df
len(df)

718266

                          Time     Value
0      2022-03-23 00:00:00.000  50.05250
1      2022-03-23 00:00:00.100  50.05258
2      2022-03-23 00:00:00.200  50.05353
3      2022-03-23 00:00:00.300  50.05216
4      2022-03-23 00:00:00.400  50.05318
...                        ...       ...
718261 2022-03-23 23:59:59.500  50.04286
718262 2022-03-23 23:59:59.600  50.04253
718263 2022-03-23 23:59:59.700  50.04073
718264 2022-03-23 23:59:59.800  50.04154
718265 2022-03-23 23:59:59.900  50.04078

[718266 rows x 2 columns]